body {
  margin: 0;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf8f1;
  color: #3a3a3a;
}
