/* -------------------------- */

.Image-video {
  width: 100%; /* Prend toute la largeur de la colonne dans la grille */
}
/* -------------------------- */

.video-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #3a3a3a;
}

.video-author {
  margin-bottom: 5px;
  color: #6b6b6b;
  font-size: 13px;
  margin-top: 0;
}

/* -------------------------- */

.div-infos {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 17px;
}

/* ------------- RESPONSIVE ------------- */

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* Media query activée pour les écrans de 0 à 750 px */

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Media query pour les écrans entre 751 px et 999 px */

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* Media query pour les écrans de 1000 px et plus */

/* ------------------------- */

.div-video {
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); /* Effet d'ombre léger pour créer du relief */
  padding: 10px;
}

.div-image-video {
  position: relative;
}

.video-time {
  font-weight: 500;
  position: absolute;
  background-color: #d6cdeac1; /* Couleur douce en arrière-plan */
  color: #3a3a3a; /* Texte gris foncé */
  bottom: 12px;
  right: 5px;
  padding: 2px 2px 4px 4px; /* Padding : haut, droite, bas, gauche */
  border-radius: 2px;
}
/* -------------------------- */

.video-info {
  margin-left: 20px;
}

.profile-picture {
  width: 100%; /* L'image remplit entièrement son conteneur */
  border-radius: 50%;
}

/* ------------- RESPONSIVE ------------- */
